
.ipynb_checkpoints/cms_transformer-checkpoint.ipynb
color-profile-correction/color-profile-correction/.ipynb_checkpoints/skin-crop-color-corrected-checkpoint.tif
*.tif
.gitattributes
*.zip
*.ipynb
*.zip
# *.icc
# *.icc
*.tif
*.mp4
*.svs
# *.icm
*.pyc
color-profile-correction/color-profile-correction/destination color profile/spare/GIMP built-in sRGB.icc
color-profile-correction/color-profile-correction/destination color profile/spare/sRGB2014.icc
color-profile-correction/color-profile-correction/destination color profile/sRGB_v4_ICC_preference.icc
color-profile-correction/color-profile-correction/source color profile/leica_scanner.icm
config_builder.py
parser.py
.ipynb_checkpoints/demo-checkpoint.jpg

leica_scanner.icm
